.product-section {
    .product-container {
        @apply px-4 flex flex-wrap;

        @screen lg {
            max-width: 1170px;
            @apply px-0;
        }

        .filter-wrapper {
            max-width: 200px;
            width: 100%;
        }

    }

    .product-header {
        @apply mb-8;
        text-transform: capitalize;
        color: #324D67;
    }

    .view-switch-buttons button{
        @apply border border-solid border-black w-6 h-6 flex rounded items-center justify-center;

        &.active{
            @apply text-white bg-black;
        }
    }

    .products-wrapper.gridView {
        .product-item {
            width: 100%;

            @screen md {
                max-width: 45%;
            }

            @screen lg {
                max-width: 31%;
            }
        }

        .product-img-wrapper {
            height: 175px;
            width: 100%;
            background-color: #000;
            border-radius: 4px;
            position: relative;

            &:hover {
                .search-icon-wrapper {
                    opacity: 1;
                }
            }

            .search-icon-wrapper {
                @apply text-xl bg-secondary flex justify-center items-center;
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                top: 40%;
                right: 50%;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
                @screen md {
                    max-width: 45%;
                    right: 45%;
                }
            }
        }

        .product-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(0);
            opacity: 1;
            transition: filter 300ms ease-in-out, opacity 300ms ease-in-out;
            border-radius: 4px;

            &:hover {
                filter: blur(1px);
                opacity: 0.6;
            }
        }

        .product-details {
            @apply flex justify-between mt-4 capitalize;
            h5 {
                color: #102A42;
            }
        }
    }
}