.breadcrumb-wrapper {
    min-height: 60px;
    
    @screen lg {
        min-height: 130px;
    }
    .breadcrumb {
        max-width: 1170px;
        width: 100%;
        
        span {
            color: black;
        }
    }
}
