.navbar-container {
    max-width: 1170px;
    margin: 0 auto;
    .logo {
        max-width: 150px;
    }

    .cart-size {
        top: -20px;
        right: -6px;
        height: 25px;
        width: 25px;
    }
}

.navbar {
    &_mobile {
        height: 0;
        transition: height 200ms ease-in-out;
        overflow: hidden;
        @apply absolute w-full;

        &.active {
            height: 184px;
        }

        nav {
            @apply w-full max-h-full font-poppins;

            li {
                border-top: 1px solid #ebebeb;
                border-left: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
                padding: 10px 5%;
                background-color: #F8F8F8;

                &:last-child {
                    border-bottom: 1px solid #ebebeb;
                }

                a {
                    font-size: 13px;
                    color: #2c2c2c;
                    text-transform: capitalize;
                    display: block;
                }
            }
        }
    }

    &_desktop {
        nav {
            margin-right: 50px;
        }

        .list_wrapper {
            @apply flex items-center justify-center gap-20 font-poppins text-base;

            li {
                border-bottom: 2px solid transparent;
                transition: border-bottom 200ms ease-in-out;
                &:hover {
                    border-bottom: 2px solid;
                    @apply border-b-accent;
                }
            }
        }
    }
}