.single-product-wrapper {
    .product-page-container {
        padding: 0 20px;
        max-width: 1170px;
        margin: 50px auto;

        
        .back-to-product {
            @apply bg-secondary text-accent text-sm;
            padding: 6px 12px;
            box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
            border-radius: 0.25rem;
            letter-spacing: 0.1rem;
        }

        .single-product-section {
            margin-top: 32px;
            display: grid;
            gap: 4rem;

            @media (min-width: 940px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .content {

        h2,
        h5 {
            font-size: 2rem;
            margin-bottom: 0.75rem;
            letter-spacing: 0.1rem;
        }

        h5 {
            font-size: 18px;
        }

        .desc {
            line-height: 2;
            margin-bottom: 1.25rem;
            color: #324d67;
            font-size: 14px;
        }

        .info {
            text-transform: capitalize;
            display: grid;
            grid-template-columns: 125px 1fr;
            margin-bottom: 1.25rem;
            color: #324d67;
            line-height: 24px;
            font-size: 14px;
        }
    }

    .add-to-cart {

        .colors {
            display: grid;
            grid-template-columns: 125px 1fr;
            align-items: center;
            margin-bottom: 1rem;
            -webkit-box-align: center;
        }

        .color-btn {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}