.slider-wrapper {
    .hero-img {
        height: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.25rem;
        }

        @screen md {
            height: 500px;
        }
    }

    .img-gallery {
        @apply grid gap-x-4 w-full mt-4;
        grid-template-columns: repeat(5, 1fr);

        img {
            @apply rounded cursor-pointer w-full;
            height: 50px;
            object-fit: cover;

            @screen md {
                height: 75px;
            }
        }

        .active {
            @apply border-secondary border-solid border-2;
        }
    }
}